.header {
  width: 100%;
  background-color: var(--header);
  padding: 10px 0;
}

.user-description {
  padding: 10px 0;
}

.active-true {
  background-color: var(--link-background);
  color: var(--color-primary);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 8px;
}

.social-medias a:last-child {
  border: none;
}

.social-medias a:hover i {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
}
