@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap");

@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #26b6c6;
  --color-default: #000000;

  /* ==== CONTAINERS ====  */
  --body: rgb(241, 241, 241);
  --header: #fff;
}

.darkmode {
  --color-default: #fff;
  --link-background: rgb(20, 20, 20);

  /* ==== CONTAINERS ====  */
  --body: rgb(20, 20, 20);
  --header: rgb(41, 41, 41);
  --footer: rgb(41, 41, 41);
}

/* ==== RESET ==== */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--body);
  color: var(--color-default);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--color-default);
  transition: all ease 0.5s;
  font-weight: 600;
}

a:hover {
  color: var(--color-primary);
}

.active-true {
  background-color: var(--link-background) !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: var(--color-primary) !important;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: all ease 0.5s;
}

h1,
h2,
h3 {
  margin: 0;
  color: var(--color-primary);
}

i {
  color: var(--color-primary);
  margin-right: 8px;
  transition: all ease 0.5s;
}

.swiper {
  width: 100%;
  height: 100%;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
