@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900");

:root {
  --color-primary: #7c6fee;
  --color-secondary: #fff;

  /* Contents  */
  --body: rgba(3, 7, 18, 1);
}

body {
  margin: 0;
  background: var(--body);
  color: var(--color-secondary);
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
  transition: all ease 0.5s;
  font-weight: 600;
}

a:hover {
  color: var(--color-primary);
}
